.env
.env.test
.cache
*.log
logs
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/releases
.pnp.*

# Lock files
package-lock.json
*.lock
node_modules/

# Yarn
*.yarn-integrity
yarn.lock